@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505; /* Deep black for brutalism */
  --foreground: #f8fafc;
  --neon-pink: #FF0099;
  --neon-green: #CCFF00;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
